<div class="container mt-4">
  <h1><%= link_to "Branches", branches_path, class: "text-decoration-none"%> / <%= @branch.name %> / 
    <%= link_to 'Meals', meals_branch_path(@branch), class: "text-decoration-none" %> / 
    Add Meal
  </h1>
  <%= render "add_meal_form", branch_meal: @branch_meal, branch_id: @branch.id %>
  <br>
</div>
