<div class="container mt-4">
  <h1 class= "mb-5"><%= link_to "Branches", branches_path, class: "text-decoration-none" %> / <%= @branch.name %> / <%= link_to "Inventories", branch_inventories_path(@branch), class: "text-decoration-none" %> / Edit Inventory</h1>
  <%= render "form", inventory: @inventory, branch: @branch %>
</div>
