<div class="container mt-4">
  <h1 class= "mb-5">Edit User</h1>
  <%= render "form", user: @user %>
  <br>
  <div>
    <%= link_to "Show this user", @user %> |
    <%= link_to "Back to users", users_path %>
  </div>
</div>
