<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
<%= render "form", user: @user %>
<div class = "text-center">
  <div class="form-outline flex-fill mb-0">
    Already a User? <%= link_to 'Login', login_path %>
  </div>
</div>
