<%= render 'shared/notice' %>
<div class="container mt-4">
  <div class="border p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Ingredients</h2>
      <%= link_to "New ingredient", new_ingredient_path, class: "btn btn-primary btn-sm" %>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Veg/Non_veg</th>
          <th>Price/Portion</th>
          <th>Requestable extra?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @ingredients %>
      </tbody>
    </table>
  </div>
</div>
