<div class="container mt-4">
  <h1 class= "mb-5"><%= link_to "Ingredients", ingredients_path, class: "text-decoration-none" %> / Edit Ingredient</h1>
  <%= render "form", ingredient: @ingredient %>
</div>
