<div class="container">
  <%= render 'shared/notice' %>
  <% if @orders.blank? %>
    <div class="alert alert-dark mx-5" role="alert">
      <strong>You have no orders currently.</strong>
    </div>
  <% else %>
    <div class="col-8 mx-auto">
      <%= render partial: 'order', collection: @orders %>
    </div>
  <% end %>
</div>
<style>
  body{
      background:#eee;
  }
  .card {
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 1rem;
  }
  .text-reset {
      --bs-text-opacity: 1;
      color: inherit!important;
  }
  a {
      color: #5465ff;
      text-decoration: none;
  }
</style>
